*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
section{
    /* background-color: */
    height:100vh;
    /* text-align:center; */
    color:white;
    background-image: linear-gradient(rgb(14,26,68,1),rgb(52,96,250,0.68));
}
.score-dis{
    /* margin-top:10px; */
    padding:10px;
    display: flex;
    justify-content:space-between;
    width:40vw;
    margin:0 auto;
    border:2px solid white;
    border-radius:4px;
    /* align-items:center; */
}
.game-name{
    display: flex;
    flex-direction:column;
    text-transform:uppercase;
}
.score-board{
    display: flex;
    flex-direction:column;
    align-items:center;
    background-color:white;
    color:black;
    border-radius:4px;
    padding:4px;
}
.score{
    font-size: 32px;
}
.modal{
    position: fixed;
    margin-top:-70vh;
    /* float:right;
     */
     position: absolute;
}

.modal-cont{
    background-color:#08143E;
    padding:20px;
    width:50vw;
    max-width:400px;
    border:4px solid #465BA7;
    border-radius:4%;
    margin:0 auto;
}
.close{
    position:relative;
    float:right;
    margin-top:-35px;
    margin-right:-35px;
    height: 30px;
    line-height:25px;
    width:30px;
    background-color:red;
    text-align:center;
    border:4px solid #465BA7;
    border-radius:100%;
    cursor:pointer;

}
.modal-content h1{
    text-align:center;
    margin-bottom:10px;
}
.modal-content ul{
    list-style-type: none;
}

.modal-content ul li::before{
    content:"\25AA";
    color:yellow;
}
.hide{
    opacity:0;
    pointer-events:none;
}

.show{
    opacity:1;
    pointer-events:all;

}
#rules{
    background:none;
    color:white;
    padding:3px 10px;
    border:2px solid white;
    border-radius:4px;
    /* float:right; */
    position: absolute;
bottom: 20px;
right: 20px;
}
button{
    cursor:pointer;
}
.selection-dis{
    margin-top:100px;
    display: flex;
    flex-direction:column;
    text-align:center;
    gap:50px;
}
.top1{
    display: flex;
    align-items:center;
}
.top2{
    display: flex;
    align-items:end;;
}
/* .stick{
    height: 10px;
    width:150px;
    background-color:black;
    border:1px solid black;
    border-radius:100px;
    
} */
.white{
    height:100px;
    width:100px;
    background-color:white;
    border-radius:70px;
    text-align:center;
    /* cursor: pointer; */
}
.white:hover{
    cursor: pointer;
    box-shadow: rgb(38, 57, 77) 0px 30px 50px -20px;
}
#scissors{
    border:10px solid purple;
    padding:15px 0;

}

#paper{
    border:10px solid yellow;
    padding:5px 0;

}
#rock{
    border:10px solid pink;
    padding:5px 0;

}
.white img{
    text-align:center;
}
.refresh {
    border:none;
    background:none;
    color:white;
    text-decoration:underline;
}

/* Result screen */
.result-dis{
    display: flex;
    align-items:end;
    gap:20px;
}
.result{
    display: flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
}
.win-dis{
    font-size:24px;
    text-align:center;
}
#tryagain-btn{
    background-color:white;
    padding:8px 12px;
    border:none;
    border-radius:4px;
    font-size:24px;

}
.win-outline{
    outline:#4CAF50 solid 10px;
}
